html{
	font-family: "Avenir Next", Helevetica, sans-serif;
	text-align: center;
}

body {
	margin: 0 auto;
} 


h1, h2 {
	font-weight: 300;
}

cover {
	position: fixed; 
	height: 100%; 
	width: 100%; 
	top:0; 
	left: 0; 
	background: #000; 
	z-index:9999;
}
